<html xmlns:th="http://www.thymeleaf.org">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<body>

<style>
    .star {
    position: relative;
    font-size: 3rem;
    color: #ddd;
  }
  
  .star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: red;
    overflow: hidden;
    pointer-events: none;
  }
</style>

<div class="container d-flex justify-content-center">
    <div style="width:700px; margin-top: 30px;">
        <form class="form-horizontal" th:action="@{/users}" method="post">
            <div class="form-group">
                <label for="breadName" class="col-sm-2 control-label">빵집 이름</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" name="breadName" id="breadName"
                           placeholder="빵집 이름" required>
                </div>
            </div>
            <div class="form-group">
                <input type="button" onclick="sample3_execDaumPostcode()" value="주소 찾기"><br>
                <input type="text" class="form-control" id="sample3_address" placeholder="주소"><br>
                <input type="text" class="form-control" id="sample3_detailAddress" placeholder="상세주소">
            </div>
            <div id="wrap"
                 style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap"
                     style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()"
                     alt="접기 버튼">
            </div>
            <div class="form-group">
                <span class="star">
                    ★★★★★
                    <span>★★★★★</span>
                    <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10">
                  </span>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">내용</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control input-large" name="content" id="content" placeholder="내용"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">전화번호</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control input-large" name="phone" id="phone" placeholder="전화번호"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label for="priceRange" class="col-sm-2 control-label">가격대</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" name="priceRange" id="priceRange"
                           placeholder="가격대" required>
                </div>
            </div>
            <div class="form-group">
                <label for="openingHours" class="col-sm-2 control-label">영업시간</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" name="openingHours" id="openingHours"
                           placeholder="영업시간" required>
                </div>
            </div>
            <div class="form-group">
                <label for="breakTime" class="col-sm-2 control-label">쉬는시간</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" name="breakTime" id="breakTime"
                           placeholder="쉬는시간" required>
                </div>
            </div>
            <div class="form-group">
                <label for="lastOrder" class="col-sm-2 control-label">마지막주문</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" name="lastOrder" id="lastOrder"
                           placeholder="마지막주문" required>
                </div>
            </div>
            <div class="form-group fileForm">
                <label for="fileInput" class="col-sm-2 control-label">Image Files</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input files" id="fileInput" multiple>
                    <label class="custom-file-label" data-browse="Browse"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <button class="btn btn-dark btn-lg">돌아가기</button>
                    <button type="Submit" class="btn btn-dark btn-lg">등록하기</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function sample3_execDaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function (data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample3_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample3_detailAddress").focus();

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize: function (size) {
                element_wrap.style.height = size.height + 'px';
            },
            width: '100%',
            height: '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }

    const drawStar = (target) => {
    document.querySelector(`.star span`).style.width = `${target.value * 10}%`;
  }
</script>

<div th:replace="layout/footer::footer"></div>
</body>
</html>